<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>Le Bibi-Shosho</title>
</head>
<body>
    <h2>Achat</h2>
    <form action="/achat" method="post">
        <!-- Champ de texte -->
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" placeholder="Entrez votre nom" required><br><br>

        <!-- Champ e-mail -->
        <label for="email">E-mail :</label>
        <input type="email" id="email" name="email" placeholder="Entrez votre e-mail" required><br><br>

        <!-- adresse -->
        <label for="adresse">Adresse :</label>
        <input type="adresse" id="adresse" name="adresse" placeholder="Entrez votre adresse" required><br><br>

        <!-- ville -->
        <label for="ville">Ville :</label>
        <input type="ville" id="ville" name="ville" placeholder="Entrez votre ville" required><br><br>

        <!-- code postal -->
        <label for="postal">Code postal :</label>
        <input type="postal" id="postal" name="postal" placeholder="Entrez votre code postal" required><br><br>

        <!-- Bouton de soumission -->
        <input type="submit" value="Acheter">
    </form>
</body>
</html>