{% extends "./base.html" %}

{% block title %}
<title>Vélos disponibles - Bibi-Shosho</title>
{% endblock %}

{% block content %}
<section id="disponible" class="section">

    <h2>Vélos disponibles</h2>
    <p>Il y a actuellement <b>{{ amount_available }} vélos</b> différents disponibles.</p>
    <div class="boxes">

        {% for bike in bikes_available %}
            <div class="isAvailable">
                <h4><b>{{ bike[1] }}</b></h4>
                <p><i>{{ bike[2] }}</i></p>
                <button class="button" onclick="window.location.href='velo?c={{ bike[0] }}'">Voir plus</button>
            </div>
        {% endfor %}

    </div>

</section>
{% endblock %}