{% extends "./base.html" %}

{% block title %}
<title>Catalogue des vélos - Bibi-Shosho</title>
{% endblock %}

{% block content %}
<section id="catalogue" class="section">
    <h2>Catalogue des vélos</h2>

    <p>Il y a actuellement <b>{{ amount }} vélos</b> différents dans le catalogue, dont <b>{{ amount_available }} vélos</b> disponibles.</p>

    <div class="boxes">
        {% for bike in bikes %}

                {% if bike in bikes_available %}
                    <div class="isAvailable">
                        <h4><b>{{ bike[1] }}</b></h4>
                        <p><i>{{ bike[2] }}</i></p>
                        <button class="button" onclick="window.location.href='velo?c={{ bike[0] }}'">Voir plus</button>
                    </div>

                {% else %}
                    <div class="isNotAvailable">
                        <h4><b>{{ bike[1] }} ❌</b></h4>
                        <p><i>{{ bike[2] }}</i></p>
                        <button class="button" onclick="window.location.href='velo?c={{ bike[0] }}'">Voir plus</button>
                    </div>
                {% endif %}

        {% endfor %}
    </div>

</section>
{% endblock %}