<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Tout tout et tout :
    <ul>
    {% for bike in bikes %}
        {% if bike in dispos %}
            <li style="color: black;"> blabla : {{ bike }} </li>

        {% else %}
            <li style="color: red;"> blabla : {{ bike }} </li>
        {% endif %}
        <button class="button" onclick="window.location.href='velo?c={{ bike[0] }}';">Voir plus</button>

    {% endfor %}
    </ul>
</body>

</html>