{% extends "./base.html" %}

{% block title %}
<title>Vélo - {{ bike_description[0] }} - Bibi-Shosho</title>
{% endblock %}

{% block content %}
<section id="presentation" class="section">

    <h2>{{ bike_description[0] }}</h2>

    <p>
        <i>{{ bike_description[1] }}</i>
        <br><br>
        <b>Description : </b> {{ bike_description[2] }}
        <br>
    </p>

    {% if is_available %}
        <p><button class="button" onclick="window.location.href='/achat?c={{ bike_id }}'">Acheter</button></p>
    {% else %}
        <p style="color: rgb(136, 21, 21)">Ce produit n'est pas disponible.</p>
    {% endif %}

</section>
{% endblock %}